@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
/* Include Tailwind's base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    padding: 20px;
  }
}

@layer components {
  .square {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    background-color: rgba(240, 240, 240, 0.559);
    box-shadow: 2px 2px 4px rgba(5, 50, 200, 0.1);
    align-items: center;
    justify-content: center;
    height: 90px;
    border-radius: 10px;
    width: 500px;
    display: flex;
  }
  .grid-item {
    background-color: #f0f0f0; /* Background color of each grid item */
    border: 1px solid #ccc; /* Border around each grid item */
    padding: 20px; /* Padding inside each grid item */
    border-radius: 10px;
  }
  .par {
    font-family: "Martel Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(78, 78, 78);
    text-shadow: 0.5px 0.5px 1px #14141480;
    text-wrap: wrap;
    word-wrap: break-word;
    max-width: 90%;
  }
  .coder-button {
    background-color: #8053ff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    margin-bottom: 150px;
  }
  .coder-button:hover {
    background-color: #6e3dff; /* Darker shade on hover */
  }

  .manager-button {
    background-color: white;
    color: #8053ff;
    border: 1px solid #8053ff;
    height: 45px;
    font-size: 16px;
    border-radius: 10px;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 150px;
    text-align: center;
  }

  .manager-button:hover {
    background-color: #f0f0f0; /* Darker shade on hover */
  }
  .submit-button {
    background-color: #8053ff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    max-width: fit-content;
  }
}

.bg-body {
  background-image: url("/src/assets/bg.svg");
  background-repeat: repeat;
}

/* Custom class for the background image */

a {
  text-decoration: none;
}
/* CLA Logo + CLA */
.left-top {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center;
  font-weight: 800;
  font-style: normal;
  font-size: 25px;
}

/* .centered-top {
    text-align: center;
    text-wrap: wrap;
    word-wrap: break-word;
    max-width: 90%;
} */

.join-now-button {
  display: inline-block;
  vertical-align: middle;
}
.join-now-button {
  background-color: #8053ff;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 5px;
  margin-right: 20px;
}

/* Background color container */
.background-container {
  /* z-index: -1; */
  position: absolute;
  width: 50%;
  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgb(38, 15, 92);
}

/* input modifications Login! */
.col-4 input {
  border-radius: 5px;
  padding: 15px;
  background-color: rgb(50, 128, 222);
  color: white;
  width: 434px;
  text-align: center;
  box-sizing: border-box;
}

/* Testing settings */
.form-container p {
  text-align: center;
}

button,
button:focus {
  outline: none;
  cursor: pointer;
}

/* Remove default link styles inside buttons */
button a {
  color: inherit;
  text-decoration: none;
}

/* Testimonial + JS */
.testimonial {
  display: none;
  width: 100%;
  transition: opacity 1s ease-in-out;
  align-items: center;
}

.testimonial.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#testimonials {
  margin: 50px auto; /* Add margin top and bottom, and set left and right margin to auto for horizontal centering */
  padding: 20px; /* Add padding for better readability */
  background-color: #f0f0f0; /* Set background color */
  border-radius: 20px; /* Add border radius for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  max-width: 800px; /* Limit the width of the testimonials section */
  text-align: center;
}

#testimonials p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

#testimonials img {
  border-radius: 5%;
}

#testimonials .author {
  font-weight: bold; /* Make author name bold */
}

#testimonials .quote {
  font-style: italic; /* Style quote text as italic */
  color: #555; /* Dim the color of the quote text */
}

.contact-us {
}

.error-message {
  color: red;
  font-size: 0.875rem;
  display: none;
  margin-left: 50px;
}

input.error,
textarea.error {
  border-color: red;
}

footer {
  position: absolute; /* Set position to absolute */
  bottom: 0; /* Align to the bottom of the main container */
  width: 100%; /* Take up full width */
  color: white; /* Set text color */
  text-align: center; /* Center-align text */
  padding: 20px; /* Add padding for better spacing */
  text-wrap: wrap;
  word-wrap: break-word;
  max-width: 90%;
}

.martel-sans-extralight {
  font-family: "Martel Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.martel-sans-light {
  font-family: "Martel Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.martel-sans-regular {
  font-family: "Martel Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.martel-sans-semibold {
  font-family: "Martel Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.martel-sans-bold {
  font-family: "Martel Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.martel-sans-extrabold {
  font-family: "Martel Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.martel-sans-black {
  font-family: "Martel Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}
